---
layout: archive
permalink: /
title: "Blog"
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
---

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
{% for year in postsByYear %}
  <h2 id="{{ year.name | slugify }}" class="archive__subtitle">{{ year.name }}</h2>
  {% for post in year.items %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}

<link rel="icon" href="https://raw.githubusercontent.com/JeffMacaluso/JeffMacaluso.github.io/master/assets/images/517dcfa31ef15a15fc7a2f2bf7a084b5.jpg" type="image/x-icon" />